body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

/*********************************************************************/
/*Шапка*/
/*********************************************************************/

.header {
    width: 100%;
    height: 100px;
    background: #fc772a ;
    opacity: .5;
}

.title {
    font-size: 40px;
    font-style: italic;

    margin-top: 0;
    text-align: center;
    padding-top: 20px;
}

/*********************************************************************/
/*Главный блок с содеожанием всех элементов */
/*********************************************************************/

.cont {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: start;
}

/*********************************************************************/
/*контейнеры лев. панели и таблицы*/
/*********************************************************************/

.colCont {
    display: flex;
    justify-content: center;
}

/*********************************************************************/
/*Левая панель*/
/*********************************************************************/

.panel {
    background-color: #fc772a;
    width: 150px;
    height: 75px;
    opacity: 0.5;
}

.btn {
    width: 150px;
    text-align: center;
}

.btn:hover, .clickbtn:hover {
    background-color: white;
}

.clickbtn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/*********************************************************************/
/*Контейнер с таблицей*/
/*********************************************************************/

.centerios {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.plusProject {
    float:left;
    background-color: green;
    width: 50px;
    height: 40px;
    border-color: rgba(174,255,92,0.3);
    color: white;
}

.plusProject:hover {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.plusProject:active {
    background-color: red;
}

.infor {
    width: 100%;
    height: 100%;
}

/*********************************************************************/
/*Кнопки редактирования и удаления*/
/*********************************************************************/

.edit {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 50px;
}

.minus {
    text-decoration: none;
    color: white;
    background-color: green;
    font-size: 18px;
    padding: 2px 30px;
}

.edit:hover, .minus:hover {
    background-color: yellow;
    color: black;
    margin: 0;
}

/*********************************************************************/
/*Select*/
/*********************************************************************/

.days {
    margin-left: 300px;
}

.trCenter {
    text-align: center;
}

.TxT {
    font-weight: bold;
    font-size: 18px;
}